body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 5%);
    border-radius: 25px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 10px;
    font-size: 4rem;
    text-align:start;
    border: none;
    background-color: hsl(0, 0%, 15%);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 25px;
}

button {
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 25%) ;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 35%);
}

button:active {
    background-color: hsl(0, 0%, 55%);
}

.operation-btn{
    background-color: hsl(16, 98%, 50%);
}

.operation-btn:hover{
    background-color: hsl(16, 98%, 55%);
}

.operation-btn:active{
    background-color: hsl(16, 98%, 65%);
}