body{
    margin: 0;
    padding: 0;
    background: rgba(42, 0, 97, 0.836);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 200px;
    width: 200px;
    /* background: black; */
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box::before,
.box::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        var(--deg),
        #00c3ff,
        #4d0199,
        #6300c6,
        #009dcd
    );
    border-radius: inherit;
    z-index: -2;
    padding: 4px;
}

.box::after{
    filter: blur(10px);
}