* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,rgba(255, 0, 255, 1),rgba(0, 0, 255, 1));
  }
  
.todo-box {
    margin-top: 20px;
    background: linear-gradient(135deg,rgb(123, 72, 241),rgba(101, 0, 148, 0.993));
    padding: 20px;
    gap: calc(5px + 2vh);
    display: flex;
    justify-content: space-between;
    flex-direction : column;
    text-align: center;
    align-items: center;
    height: fit-content;
    width: 20vw;
    border: 2px solid white;
    border-radius: 10px;   
}

.heading {
  display: block;
  width: 100%;
  height: 20px;
}
.input-btn {
  display: block;
  justify-content: center;
  align-items: center;
}

ul{
  display: inline;
  justify-content: center;
  align-items: center;
}

li {
    width: 99%;
    height: 1rem;
    /* background-color: white; */
  }

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(255, 249, 249, 0.274);

}

.line{
    text-decoration: line-through;
    color: red;
    z-index: 100;
}

.btn {
  background: transparent;
  border: none;
}

.all-todo{
  height: inherit;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#deleteBtn {
  border: none;
  background-color: aquamarine;
  padding: 2px;
  margin: 10px;
}


