* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,rgba(255, 0, 255, 1),rgba(0, 0, 255, 1));
  }
  
.todo-box {
    background: linear-gradient(135deg,rgb(123, 72, 241),rgba(101, 0, 148, 0.993));
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction :column;
    /* text-align: center; */
    align-items: center;
    height: 400px;
    width: 70vw
    
}

.heading {
  display: block;
  width: 100%;
  height: 20px;
}
.input-btn {
  display: block;
  justify-content: center;
  align-items: center;
}

ul{
  display: block;
  justify-content: center;
  align-items: center;
}

li {
    width: fit-content;
    height: 1rem;
    background-color: aqua;
  }

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background: red; */

}

.line{
    text-decoration: line-through;
    color: red;
}

.btn {
  background: transparent;
  border: none;
}