*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --primary: #000000;
    --secondary: #ffffff;
    --accent: rgba(255, 244, 97, 0.973);
    --links: rgb(97, 134, 255);
    --navbg: conic-gradient(red,blue,green)
}

h1 {
    font-family: "lora", serif;
    color: var(--primary);
    font-size: 5rem;
    margin-bottom: 20px;
}

.navbar {
    /* Required */

    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    opacity: 1;

    /* Colors & Bg & Border*/
    color: white;
    background: black;
    /* Animation */

    animation: fadeinDown 1s ease;
}

.navbar::before,
.navbar::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: aqua;
    border-radius: inherit;
    z-index: -2;
    padding: 5px;
}


@keyframes fadeinDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.nav-links {
    display: flex;
    list-style: none;
    padding-right: 40px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text);
    font-weight: normal;
}

.nav-links a:hover {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}

.logo{
    filter: invert(1);
}
