*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --primary: #000000;
    --secondary: #ffffff;
    --accent: rgba(255, 244, 97, 0.973);
    --links: rgb(97, 134, 255);
    --navbg: conic-gradient(red,blue,green)
}

body{
    background: rgb(7, 13, 75);
}

h1 {
    font-family: "lora", serif;
    color: var(--secondary);
    font-size: 4rem;
    margin-bottom: 20px;
    display: block;
}

.header{
    height: 10%;
    width: inherit;
    padding: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav-section */

.navbar-box {
    height: 6vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    animation: fadeinDown 1s ease;
}

.navbar {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    gap: 20px;
    position: relative;
    opacity: 1;
    color: var(--secondary);
    background: rgba(0, 0, 0, 0.938);
}

.navbar::before,
.navbar::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        red,
        blue,
        green
    );
    border-radius: inherit;
    z-index: -2;
    padding: 5px;
}

.navbar::after{
    filter: blur(10px);
}


@keyframes fadeinDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.nav-links {
    display: flex;
    list-style: none;
    padding-right: 40px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text);
    font-weight: normal;
}

.nav-links a:hover {
    color: var(--links);
    font-weight: bold;
}

.logo{
    filter: invert(1);
}

/* About-section */

.about-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box{
    height: 50vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
    background: black;
    border-radius: 20px;
}

.about-box::before,
.about-box::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        #00c3ff,
        #4d0199,
        #6300c6,
        #009dcd,
        #00c3ff
    );
    border-radius: inherit;
    z-index: -2;
    padding: 5px;
}

.about-box::after{
    filter: blur(20px);
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5%;
    gap: 5%;
}

.about-image{
    height: 200px;
    aspect-ratio: 1/1;
}
.image{
    height: 100%;
    border-radius: 10px;
}

/* Skills-section */

.skills-container{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
    background: black;
    border-radius: 20px;
}

.box::before,
.box::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        #00c3ff,
        #4d0199,
        #6300c6,
        #009dcd,
        #00c3ff
    );
    border-radius: inherit;
    z-index: -2;
    padding: 5px;
}

.box::after{
    filter: blur(11px);
}

.skills-content{
    display: inline;
    height: inherit;
    width: inherit;
    color: white;
    padding: 5%;
    gap: 5%;
}

/* Services-section */

.services-container{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-content{
    display: inline;
    height: inherit;
    width: inherit;
    color: white;
    padding: 5%;
    gap: 5%;
}

/* .services-box{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
    background: black;
}

.services-box::before,
.services-box::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        #00c3ff,
        #4d0199,
        #6300c6,
        #009dcd,
        #00c3ff
    );
    border-radius: inherit;
    z-index: -2;
    padding: 5px;
} */

.contact-container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content{
    display: inline;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 5%;
    gap: 5%;
}

/* .contact-box{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
    background: black;
}

.contact-box::before,
.contact-box::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        #00c3ff,
        #4d0199,
        #6300c6,
        #009dcd,
        #00c3ff
    );
    border-radius: inherit;
    z-index: -2;
    padding: 5px;
} */

/* Cards section */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.card-content{
    height: 110px;
    aspect-ratio: 1/1;
    background: color-mix(in srgb-linear, red 33%, purple 33%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin: 2%;
    /* border-radius: 0px 0px 10px 10px ; */
}

p{
    color: var(--secondary);
    font-size: 1.2rem;
}